<blockquote class="quote">
    <p class="quote__header">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, porro reprehenderit facere atque consequatur magni accusamus recusandae beatae illo nisi dolorum dolor voluptas, aperiam corporis neque eum voluptatibus mollitia sit.</p>
    <footer>
        <div class="media">
            <div class="media__image quote__image">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body quote__body">
                <h3 class="media__title quote__author">kathir</h3>
                <p class="quote__organization">Industrialist</p>
            </div>
        </div>
    </footer>
</blockquote>