<section class="block conatiner block-domain">
    <div class="block__header">
        <h2 class="block__heading">The best webhosting Starting at per month</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel similique delectus, veritatis pariatur doloribus itaque. Officiis architecto saepe ab maxime.</p>
        <div class="input-group">
            <input type="text" class="input" placeholder="Enter domain name here...">
            <button class="btn btn--accent">
                <svg class="icon input--icon">
                    <use xlink:href="images/sprite.svg#search"></use>
              </svg>search</button>
        </div>
    </div>
    <ul class="list block-domain__prices">
        <li>.com $9.26</li>
        <li><span class="badge badge--secondary">.sg $7.91</span></li>
        <li>.space $12.98</li>
        <li>.info $14.15</li>
        <li>.net $16.15</li>
        <li>.xyz $10.15</li>
    </ul>
</section>