<section class="block block--dark block--skewed-left hero ">
    <div class="conatiner grid grid--1x2 ">
        <div class="block__header hero__header">
            <h1 class="block__heading">Cloud Hosting for Pros</h1>
            <p class="hero__tagline">Deploy your website in less than 60 seconds.</p>
            <button class="btn btn--accent btn--stretched">
                get started
            </button>
        </div>
        <img src="images/banner.png" alt="" class="hero__image">
    </div>
</section>