<section class="block">
    <header class="block__header">
        <h2>What our Customer are Saying</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, eaque?</p>
    </header>
    <div class="testimonial grid grid--1x2 conatiner">
        <div class="testimonial__container">
            <img src="images/testimonial.jpg" alt="a customer with the happy smile" class="testimonial__image">
            <span class="icon-container testimonial-icon-container">
                <svg class="icon icon--small icon--white">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="quote__header">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, porro reprehenderit facere atque consequatur magni accusamus recusandae beatae illo nisi dolorum dolor voluptas, aperiam corporis neque eum voluptatibus mollitia sit.</p>
            <footer>
                <div class="media">
                    <div class="media__image quote__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media__body quote__body">
                        <h3 class="media__title quote__author">kathir</h3>
                        <p class="quote__organization">Industrialist</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
</section>